*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200i,300,400,400i,700&display=swap');

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-outer {
  padding: 0 20px;
}

a {
  display: block;
  text-decoration: none;
}

body {
  @include font-main;
}
