*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

::selection {
  background: lightblue;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200i,300,400,400i,700&display=swap');

// html {
//   scroll-behavior: smooth;
// }

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-outer {
  padding: 0 20px;
}

a {
  display: block;
  text-decoration: none;
}

body {
  @include font-main;

  &.no-scroll {
    overflow: hidden;
  }
}

img {
  display: block;
  height: auto;
}

button {
  cursor: pointer;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.disabled {
  display: none;
}

p + p {
  margin-top: 15px;
}

// font sizes
// html {
//   @media (max-width: $l) {
//   }

//   @media (max-width: $m) {
//   }

//   @media (max-width: $s) {
//   }

//   @media (max-width: $xs) {
//   }
// }
