@import '../helpers/helpers';

.avatar {
  display: flex;

  &__name {
    font-size: 1rem;
    font-weight: bold;
    color: $color-black;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5625rem;
  }

  &__photo {
    width: 59px;
    height: auto;
    border-radius: 50%;
  }

  &__prof {
    font-size: 0.75rem;
    color: $color-gray;
  }
}
