@import '../helpers/helpers';

.btn {
  display: inline-block;
  min-width: 160px;
  padding: 0.85em 1.7em;
  font-size: 16px;
  color: $color-gray;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $color-black;
  border-radius: 2em;
  transition: 0.2s;

  @media (max-width: $xs) {
    font-size: 14px;
  }

  @media (max-width: $s) {
    padding: 0.65em 1.7em;
  }

  &:focus {
    outline: none;
  }

  & + & {
    margin-left: 15px;

    @media (max-width: $xs) {
      margin: 10px 0 0;
    }

    @media (max-width: $s) {
      margin: 0;
    }
  }

  &:hover {
    color: $color-white;
    background-color: $color-black;
    box-shadow: 0 0 5px 2px #cfcfcf;
  }

  &--small {
    $padding-top-and-bottom: 0.75em;

    padding-top: $padding-top-and-bottom;
    padding-bottom: $padding-top-and-bottom - 0.1em;
    font-size: 14px;
  }

  &--gray-border {
    border-color: $color-gray;
  }
}
