@import '../helpers/helpers';

.card-article {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;

  &__date {
    @include flex-center;

    position: absolute;
    z-index: 100;
    padding: 0.9375rem;
    font-size: 1rem;
    font-weight: bold;
    color: $color-white;
    text-align: center;
    background-color: $color-black;
  }

  &__photo-wrapper {
    margin-bottom: 1.5625rem;
    overflow: hidden;
  }

  &__photo {
    display: block;
    width: 100%;
    transition: 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    margin-bottom: 0.9375rem;
    font-size: 1.125rem;
    font-weight: bold;
    color: $color-black;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 1.875rem;
    font-size: 0.75rem;
    color: $color-black;
    text-transform: uppercase;
  }

  &__text {
    flex: 1 1 auto;
    margin-bottom: 2.5rem;
    font-size: 0.75rem;
    line-height: 2;
    color: $color-profile-org;
  }

  &__btn {
    align-self: flex-start;
  }
}
