@import '../helpers/helpers';

.nav {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    color: $color-black;
    text-transform: uppercase;

    &--border {
      padding: 8px 30px;
      border: 2px solid $color-black;
      border-radius: 100px;
      transition: 0.2s;

      &:hover {
        color: $color-white;
        background-color: $color-black;
      }
    }

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 3px;
      content: '';
      background-color: $color-black;
      transition: 0.2s;
    }

    &:hover:not(.nav__item--border)::after {
      width: 100%;
    }

    & + & {
      @media (max-width: $m) {
        margin-left: 23px;
      }

      margin-left: 40px;
    }
  }

  @media (max-width: $s) { // todo:
    .header__nav > &__item {
      padding: 15px 30px;
      margin: 20px 0;
      font-size: 20px;
    }
  }

  @media (max-width: $s) {
    .header__nav > &__item {
      padding: 10px 20px;
      margin: 0;
    }
  }
}
