@import '../helpers/helpers';

.social {
  display: flex;

  @media (max-width: $xs) {
    align-self: stretch;
    justify-content: space-around;
  }

  &__icon {
    height: 22px;
    color: white;
    fill: white;

    &--behance {
      height: 27px;
      transform: translateY(1px);
    }
  }

  &__link {
    @include flex-center;

    width: 40px;
    height: 40px;
    font-size: 20px;
    color: $color-white;
    transition: 0.2s;

    &:hover {
      background-color: $color-black;
      transform: translateY(-5px);
    }

    &--1 {
      background-color: #1869ff;
    }

    &--2 {
      background-color: #e51a68;
    }

    &--3 {
      background-color: #007bb6;
    }

    &--4 {
      background-color: #3a5898;
    }

    &--5 {
      background-color: #13578a;
    }

    &--6 {
      background-color: #56acef;
    }

    & + & {
      margin-left: 12px;
    }
  }
}
