@import '../helpers/helpers';

.star-rating {
  display: flex;
  justify-content: center;
  font-size: 0.9375rem;

  &__item {
    position: relative;

    & + & {
      margin-left: 0.25rem;
    }

    &--half {
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 8px;
        height: 15px;
        content: '';
        background-color: $color-white;
      }
    }
  }
}
