@import '../helpers/helpers';

.star-rating {
  display: flex;
  justify-content: center;
  font-size: 15px;

  &__icon {
    width: 12px;
    height: 12px;
  }

  &__item {
    position: relative;

    & + & {
      margin-left: 4px;
    }

    &--half {
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 6px;
        content: '';
        background-color: $color-white;
      }
    }
  }
}
