@import '../helpers/helpers';

.about {
  margin: 130px 0 142px 0;

  @media (max-width: $xs) {
    margin: 60px 0;
  }

  @media (max-width: $m) {
    margin: 80px 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    @media (max-width: $xs) {
      flex-direction: column;
    }

    @media (max-width: $s) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: $s) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__photo-wrapper {
    position: relative;
    flex-basis: 45%;
    flex-shrink: 1;
    align-self: flex-end;

    @media (max-width: $xs) {
      display: none;
    }

    @media (max-width: $m) {
      flex-basis: 35%;
    }

    @media (max-width: $s) {
      position: absolute;
      top: 0;
      right: 0;
      width: 120px;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 20px;
      z-index: -1;
      display: block;
      width: 70%;
      height: 70%;
      content: '';
      background-color: #efefef;
    }
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;

    @media (max-width: $m) {
      flex-basis: 65%;
    }

    @media (max-width: $s) {
      flex-basis: 100%;
      padding: 0 10px;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    color: $color-black;
    text-transform: uppercase;
  }

  &__subititle {
    margin-bottom: 25px;
    font-size: 92px;
    font-weight: bold;
    color: #dedede;
    text-transform: uppercase;

    @media (max-width: $l) {
      font-size: 62px;
    }

    @media (max-width: $xs) {
      font-size: 42px;
    }
  }

  &__text {
    width: 83%;
    margin: 0 0 58px 0;
    font-size: 14px;
    line-height: 2;
    color: $color-profile-org;

    @media (max-width: $m) {
      width: 100%;
    }

    @media (max-width: $s) {
      margin-bottom: 45px;
    }

    @media (max-width: $xs) {
      margin-bottom: 15px;
    }
  }
}
