@import '../helpers/helpers';

.articles {
  text-align: center;

  &__title {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
    color: $color-black;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 60px;
    font-size: 18px;
    color: $color-profile-org;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item {
    flex: 1 1 33.333%;
    padding: 0 15px 30px;
  }
}
