@import '../helpers/helpers';

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8d8d8e;
  background-color: $color-black;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $m) {
      flex-wrap: wrap-reverse;
    }
  }

  &__col {
    display: flex;
    align-items: center;

    @media (max-width: $xs) {
      flex-direction: column-reverse;
    }

    @media (max-width: $m) {
      flex-basis: 100%;
      justify-content: space-evenly;

      &--social {
        justify-content: center;
      }
    }
  }

  &__nav {
    @media (max-width: $m) {
      flex-basis: 100%;
      justify-content: space-evenly;
      margin-bottom: 10px;
    }

    @media (max-width: $xs) {
      display: none;
    }
  }

  &__copyright {
    padding-right: 15px;
    margin-right: 5px;
    font-size: 14px;
    border-right: 1px solid #413f41;

    @media (max-width: $xs) {
      padding: 5px 0;
      margin: 0;
      border-right: none;
    }
  }

  &__social {
    @media (max-width: $xs) {
      border-bottom: 1px solid #413f41;
    }
  }
}

.social__icon--footer {
  height: 20px;
  fill: #8d8d8e;

  &-behance {
    height: 24px;
    transform: translateY(1px);
  }
}

.social__link--footer:hover .social__icon--footer {
  fill: $color-white;
}

.social__link--footer {
  font-size: 20px;
  color: #8d8d8e;

  &:hover {
    color: $color-white;
    background-color: #8d8d8e;
  }

  & + & {
    margin-left: 0;
  }
}

.nav__item--footer {
  font-weight: 400;
  color: #8d8d8e;

  @media (max-width: $xs) {
    margin: 10px 0 0;
  }

  & + & {
    margin-left: 15px;
  }

  &::after {
    background-color: #8d8d8e;
  }

  &-border {
    border-color: #8d8d8e;

    &:hover {
      color: $color-white;
      background-color: #8d8d8e;
    }
  }
}
