@import '../helpers/helpers';

.intro {
  height: 100vh;
  padding-top: 15px;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-bottom: 1px $color-intro-border solid;
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    padding-right: 15px;
  }

  &__hi {
    margin-bottom: 20px;
    font-size: 32px;
    color: $color-black;
  }

  &__name {
    margin-bottom: 15px;
    font-size: 45px;
    font-weight: 700;
    color: $color-black;
  }

  &__prof {
    margin-bottom: 30px;
    font-size: 18px;
    color: $color-gray;
  }

  &__photo-wrapper {
    align-self: flex-end;
  }

  &__photo {
    width: 100%;
    background: url('../../images/symbols.png') center no-repeat;
    background-size: contain;
  }

  // mix
  &__social {
    margin-bottom: 40px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
