@import '../helpers/helpers';

.modal-project {
  &__inner {
    height: 90vh;
  }

  &__slides {
    height: 100%;
  }

  &__slide-item {
    height: 100%;
  }

  &__nav {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 22px;
  }

  &__nav-btn {
    text-transform: uppercase;
  }

  &__nav-icon {
    width: 14px;
    height: 14px;
  }
}
