@import '../helpers/helpers';

.modal-project__slider,
.slider-reviews {
  position: relative;

  /* Слайдер */
  .slick-slider {
  }

  /* Слайдер запущен */
  .slick-slider.slick-initialized {
  }

  /* Слайдер с точками */
  .slick-slider.slick-dotted {
  }
  // =================================

  /* Ограничивающая оболочка */
  .slick-list {
    height: 100%;
    overflow: hidden;
  }

  /* Лента слайдов */
  .slick-track {
    display: flex;
    align-items: flex-start; // adaptive H
    height: 100%;
  }
  // =================================

  /* Слайд */
  .slick-slide {
  }

  /* Слайд активный (показывается) */
  .slick-slide.slick-active {
  }

  /* Слайд основной */
  .slick-slide.slick-current {
  }

  /* Слайд по центру */
  .slick-slide.slick-center {
  }

  /* Клонированный слайд */
  .slick-slide.slick-cloned {
  }
  // =================================

  /* Стрелка */
  .slick-arrow {
    @include center-abs;

    position: absolute;
    z-index: 20;
    width: 50px;
    height: 80%;
    font-size: 0;

    @media (max-width: $xs) {
      width: 30px;
    }
  }

  /* Стрелка влево */
  .slick-arrow.slick-prev {
    left: 0;
  }

  /* Стрелка вправо */
  .slick-arrow.slick-next {
    right: 0;
  }

  /* Стрелка не активная */
  .slick-arrow.slick-disabled {
  }
  // =================================

  /* Точки (булиты) */
  .slick-dots {
    position: absolute;
    bottom: 5px;
    z-index: 1000;
    width: 100%;
    padding: 0;

    @include flex-center;
  }

  .slick-dots li {
    margin: 2.5px;
    list-style: none;

    & + & {
      margin-left: 5px;
    }
  }

  /* Элемент точки */
  .slick-dots li button {
    width: 14px;
    height: 14px;
    font-size: 0;
    background-color: $color-white;
    border: 1px $color-white solid;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
    transition: 0.2s;
  }

  /* Активная точка */
  .slick-dots li.slick-active button {
    background-color: transparent;
  }
}

.reviews {
  .slick-arrow.slick-prev {
    background: url('./../../images/icons/back-white.svg') center no-repeat;
  }

  .slick-arrow.slick-next {
    background: url('./../../images/icons/next-white.svg') center no-repeat;
  }
}
